/* Write your CSS here */
.project-container {
  font-family: 'Roboto';
}

.img {
  width: 400px;
}

.title-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: #1e293b;
  font-size: 20px;
  padding: 10px;
}

.duration-con {
  display: flex;
  align-items: center;
}

.duration {
  font-size: 14px;
  color: #1e293b;
}
.icon {
  margin-right: 5px;
}

.description {
  font-size: 16px;
  color: #1e293b;
}
.url {
  text-decoration: None;
  font-weight: bold;
}
